[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimux"]
	path = vimux
	url = https://github.com/benmills/vimux
[submodule "hammer.vim"]
	path = hammer.vim
	url = https://github.com/matthias-guenther/hammer.vim
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim-powerline"]
	path = vim-powerline
	url = git@github.com:tomjakubowski/vim-powerline.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-liquid"]
	path = vim-liquid
	url = git@github.com:tomjakubowski/vim-liquid.git
[submodule "mustache.vim"]
	path = mustache.vim
	url = https://github.com/juvenn/mustache.vim
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "gist-vim"]
	path = gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "vim-css3-syntax"]
	path = vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim-orgmode"]
	path = vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "vim-speeddating"]
	path = vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim-stylus"]
	path = vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "VimClojure"]
	path = VimClojure
	url = https://github.com/vim-scripts/VimClojure
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "base16-vim"]
	path = base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "vim-tomorrow-theme"]
	path = vim-tomorrow-theme
	url = https://github.com/tomjakubowski/vim-tomorrow-theme
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown/
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "ghcmod-vim"]
	path = ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen/
